
model {
  input_image_size_x: 572
  input_image_size_y: 572
  input_image_channels: 1

  use_batch_norm: false
  batch_norm_momentum: 0.997
  batch_norm_epsilon: 0.0001

  unet {
  
  }
}

train_config {
  # Per GPU batch size
  batch_size: 1
  weight_decay: 0
  add_regularization_loss: false
  data_augmentation_options {
    #random_warp {
    #}
    #random_horizontal_flip {
    #}
    #random_vertical_flip {
    #}
    #random_brightness {
    #  max_delta: 0.2
    #}
    #random_saturation {
    #  lower: 0.8
    #  upper: 1.25
    #}
    #random_hue {
    #  max_delta: 0.02
    #}
    #random_contrast {
    #  lower: 0.8
    #  upper: 1.25
    #}
  }
  save_checkpoints_secs: 900
  save_summary_steps: 100
  num_steps: 300000
  shuffle: true
  shuffle_buffer_size: 1024
  optimizer {
    adam_optimizer {
      #momentum_optimizer_value: 0.9
      epsilon: 0.1
    }
    learning_rate: {
         exponential_decay_learning_rate {
           initial_learning_rate: 0.0003
           decay_steps: 25000
           decay_factor: 0.96
           staircase: true
         }
         #constant_learning_rate {
         #  learning_rate: 0.0003
         #}
         #manual_step_learning_rate {
         # initial_learning_rate: 0.0003
         # schedule {
         #   step: 0
         #   learning_rate: .0003
         # }
         # schedule {
         #   step: 250000
         #   learning_rate: .00003
         # }
         # schedule {
         #   step: 500000
         #   learning_rate: .00001
         # }
        #}
    }
    # Some bugs in tf DistributionStrategy prevent EMA currently
    use_moving_average: false
    moving_average_decay: 0.9999
  }

  loss {
    name: 'sigmoid'
    use_weighted: true
  }
}

eval_config {
  batch_size: 1
  eval_interval_secs: 180
  # If -1 or None will visualize all (i.e. each patient one image)
  num_images_to_visualize: -1
  # Shuffle so that we also get some cancer images in the beginning
  shuffle: true
  shuffle_buffer_size: 1024
  # Dilation of groundtruth just for eval, to reduce FP/FN
  dilate_groundtruth: true
  groundtruth_dilation_kernel_size: 15
}

dataset {
  dataset_path: '/media/DataStorage/Datasets/prostate_images3'
  # 0: 0 - 255
  # 1: 0 - 1
  # 2: -1 - 1
  val_range: 0
  balance_classes: false

  prostate_cancer {
    only_cancer_images: false
    balance_remove_smallest_patient_set: false
    balance_remove_random_patient_set: false

    dilate_groundtruth: false
    groundtruth_dilation_kernel_size: 11
  }
}

seed: 0
# If a prediction is higher than threshold, it will be counted as true positive
metrics_tp_thresholds: [0.3, 0.5, 0.7]